.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100%;
}

.ClassLifecycleComponent {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

.FunctionLifecycleComponent {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

button {
    background-color: #000000;
    border-radius: 20px;
    color: #ffffff;
    width: 150px;
    height: 100px;
    border: none;
    font-size: 20px;
    margin-bottom: 5px;
}